{% extends 'base.html.twig' %}

{% block content %}
    <h1>Portfolio transactions</h1>
    {% block page_contents %}

        <p><a href="{{ path('portfolio_details', {id: portfolioId}) }}">Back to portfolio details</a></p>

        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Shares</th>
                <th scope="col">Value</th>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <th scope="row">{{ transaction.stockTicker }}</th>
                    <td>{{ transaction.numberOfShares }}</td>
                    <td>{{ transaction.transactionValue }} {{ transaction.transactionCurrency }}</td>
                    <td>{{ transaction.transactionDate }}</td>
                    <td>{{ transaction.transactionType }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}
{% endblock %}
